body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff );
    font-family: "Montserrat", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}